mixin players
    p players
    p #{res}
    ul
        each obj in res.players
            li #{obj.username}
mixin games
    p games
    ul
        each obj in res.games
            li #{obj.name}
mixin feeds
    p feeds
    ul
        each obj in res.feeds
            li #{obj.subject}
mixin comments(feedid)
    p comment
    ul
        each obj in res.comments
            li  #{obj.text}
mixin menu
    ul#menu
        li 
            div option1 
        li
            div option2 
            ul
                li 
                    div suboption1
                li 
                    div suboption2 
        li 
            div option3
        li 
            div option4